<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <ui:composition template = "home.xhtml">
        <ui:define name = "header">
            <h2>Page1 header</h2>
        </ui:define>

        <ui:define name = "content">
            <h:dataTable styleClass="table table-striped" value="#{applicationController.list}" var="car">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    #{car.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Nr rejesracyjny</f:facet>
                    #{car.plateNumber}
                </h:column>
                <h:column>
                    <f:facet name="header">Mass</f:facet>
                    #{car.mass}
                </h:column>
                <h:column>
                    <f:facet name="header">VIN</f:facet>
                    #{car.vin}
                </h:column>
            </h:dataTable>
        </ui:define>

        <ui:define name = "footer">
            <h2>Page1 Footer</h2>
        </ui:define>
    </ui:composition>

</h:body>
</html>